.unselectable {
    user-select: none;
}

#textContainer {
    border: black 2px solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    width: 50%;
}

#textContainer > #current {
    background-color: #bababa;
}

#textContainer > #past {
    background-color: #b0b0b0;
}